<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Highlight Has Been Accepted.</h1>
    <p>Good news! Your highlight has been accepted. The next step is for your highlight to enter production. We'll send you another email when it does.</p>
    <p>You can view the status of your order any time by logging into your account at: <%= link_to 'Sign In', @url %></p>
    <p>Thanks.</p>
    <p>Jon</p>
  </body>
</html>
