<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Highlight is Finished</h1>
    <p>Good news! Your highlight is complete and ready to download.</p>
    <p>Click <%= link_to 'Here', @url %> to login to your account and download your highlight.</p>
    <p>Thanks.</p>
    <p>Jon</p>
  </body>
</html>
