<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your highlight is being processed.</h1>
    <p>We'll email you again once your order is accepted. After it's accepted we'll let you know when it's in production. Finally it'll be complete and ready to download.</p>
    <p>You can view the status of your order any time by logging into your account. <%= link_to 'Sign In', @url %></p>
    <p>Thanks.</p>
    <p>Jon</p>
  </body>
</html>
