<nav class='btcf'>
	<div class="admin-nav-content">
		<ul>
			<li>Administrator Functions: </li>
			<li><button><%= link_to 'Highlights', admin_highlights_path %></button></li>
			<li><button><%= link_to 'Highlight Types', admin_highlight_types_path %></button></li>
			<li><button><%= link_to 'Users', admin_users_path %></button></li>
		</ul>
	</div>
</nav>