.admin-highlights-index {
	p {
		margin: 0;
		padding: .5em 0; 
	}
}

.admin-highlights-show {
	ul {
		margin: 0;
	}
}

.admin-users-index {
	p {
		margin: 0;
		padding: .5em 0;
	}
}

.admin-users-show {
	ul {
		margin: 0;
	}
}
