h2 {
	color: rgb(170, 3, 3);
	a, a:visited  {
		color: blue;
	}
}

.highlight-form {
	margin-bottom: 2em;
	input {
		display: block;
	}
	.radio {
		display: inline-block;
		padding: .25em 0;
	}
	p {
		margin: 0;
		padding: 0;
	}
	#continue, #finish, .submit-highlight {
		background: url(image_path('bat_background_small.png'));
		background-size: cover;
		p {
			text-align: center;
			padding: .5em 0;
		}
	}
	#continue, #finish, {
		width: 15em;
		height: 2em;
		border-radius: 1em;
	}
}

.old_baseball_list {
	background: url(image_path('old_baseball_list.png')) no-repeat;
	width: 8%;
}
