<%- unless user_signed_in? %>
  <h2>If you are already a registered user please <%= link_to 'sign in.', new_user_session_path %></h2>
<%- end %>

<h3>Fill out the form with as much information as you would like. The more info you provide the more customized your highlight will be.</h3>

<%= render 'highlight_form' %>
